html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-image: url("images/background.png");
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}

.banner {
    background-image: url("images/bannerbg.png");
    background-repeat: repeat-x;
    background-size: 50px;
}

img.banner {
    height: 50px;
}

h1 {
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}

h2 {
    display: none;
}

.container {
    width: 800px;   
    margin: auto auto;
    border: 4px solid grey;
    border-radius: 20px;
    overflow: hidden;
}

.container > p {
    clear: both;
    display: block;
    vertical-align: bottom;
}

.review-header {
    background-image: url("images/rbg.png");
    background-repeat: repeat-x;
    height: 83px;
}
.review-header > img {
    height: 83px;
}

.rating {
    font-size: 48pt;
    font-weight: bold;
    color: red;
    vertical-align: bottom;
}

.container-left {
   width: 550px;
   height: auto;
   float: left;
}

.container-right {
    float: right;
    background-color: #A2B964;
    width: 250px;
    height: auto;
    font-size: 8pt; 
    font-family: Arial, sans-serif; 
}

.container-right > dl > dt {
    font-weight: bold;
    margin-top: 10px;
}

.reviews-left {
    float: left;
    margin-left: 2%;
}

.reviews-left, .reviews-right {
    width: 47%;
}

.reviews-right{
    float: left;
    width: 250px;
}

.publisher {
    font-style: italic;
}
.review {
    font-weight: bold;
    font-size: 8pt;
    background-color: #E8DC9B;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 8px;
}

.review > img {
    vertical-align: top;
}

.links {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 10pt;
    font-weight: bold;
    margin-top: 10px;
}

.footer {
    text-align: center;
    background-color: #A2B964;  
    padding: 5px;
    width: 100%;
}